{
    "openapi": "3.1.0",
    "info": {
        "title": "Agent Morpheus",
        "description": "API to determine the impact of documented CVEs on a specific project or container.",
        "version": "1.0.0",
        "termsOfService": "https://nvidia.com/legal/terms-of-use",
        "contact": {
            "name": "NVIDIA Support",
            "url": "https://help.nvidia.com/"
        }
    },
    "servers": [
        {
            "url": "https://ai.api.nvidia.com/v1/"
        }
    ],
    "paths": {
        "/scan": {
            "post": {
                "summary": "Run CVE workflow",
                "operationId": "morpheus-vuln-analysis-scan",
                "tags": [
                    "nvidia / morpheus-vuln-analysis"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentMorpheusInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgentMorpheusOutput"
                                }
                            }
                        }
                    }
                }
            },
            "required": true,
            "x-nvai-meta": {}
        }
    },
    "security": [
        {
            "Token": []
        }
    ],
    "components": {
        "securitySchemes": {
            "Token": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "AgentMorpheusEngineOutput": {
                "properties": {
                    "vuln_id": {
                        "type": "string",
                        "title": "Vuln Id"
                    },
                    "checklist": {
                        "items": {
                            "$ref": "#/components/schemas/ChecklistItemOutput"
                        },
                        "type": "array",
                        "title": "Checklist"
                    },
                    "summary": {
                        "type": "string",
                        "title": "Summary"
                    },
                    "justification": {
                        "$ref": "#/components/schemas/JustificationOutput"
                    }
                },
                "type": "object",
                "required": [
                    "vuln_id",
                    "checklist",
                    "summary",
                    "justification"
                ],
                "title": "AgentMorpheusEngineOutput",
                "description": "Contains all output generated by the main Agent Morpheus LLM Engine for a given vulnerability.\n\n- vuln_id: the ID of the vulnerability being processed by the LLM engine.\n- checklist: a list of ChecklistItemOutput objects, each containing an input and a response from the LLM agent.\n- summary: a short summary of the checklist inputs and responses, generated by an LLM.\n- justification: a justification"
            },
            "AgentMorpheusInfo": {
                "properties": {
                    "vdb": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/VdbPaths"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "intel": {
                        "anyOf": [
                            {
                                "items": {
                                    "$ref": "#/components/schemas/CveIntel"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Intel"
                    },
                    "sbom": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/SBOMInfo"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                },
                "type": "object",
                "title": "AgentMorpheusInfo",
                "description": "Information used for decisioning in the Agent Morpheus engine. These information can all be automatically\ngenerated or retrieved by the pipeline from the input information.\n\n- vdb: paths to source code and documentation vector databases (VDBs) used to understand whether a vulnerability\n  is exploitable in the source code.\n- intel: list of CveIntel objects representing intelligence for each vulnerability pulled from various vulnerability\n  databases and APIs.\n- sbom: software bill of materials listing the packages and versions in the container image, used to understand\n  whether the vulnerable package exists in the image."
            },
            "AgentMorpheusInput": {
                "properties": {
                    "scan": {
                        "$ref": "#/components/schemas/ScanInfoInput"
                    },
                    "image": {
                        "$ref": "#/components/schemas/ImageInfoInput"
                    }
                },
                "type": "object",
                "required": [
                    "scan",
                    "image"
                ],
                "title": "AgentMorpheusInput",
                "description": "Inputs required by the Agent Morpheus pipeline."
            },
            "AgentMorpheusOutput": {
                "properties": {
                    "input": {
                        "$ref": "#/components/schemas/AgentMorpheusInput"
                    },
                    "info": {
                        "$ref": "#/components/schemas/AgentMorpheusInfo"
                    },
                    "output": {
                        "items": {
                            "$ref": "#/components/schemas/AgentMorpheusEngineOutput"
                        },
                        "type": "array",
                        "title": "Output"
                    }
                },
                "type": "object",
                "required": [
                    "input",
                    "info",
                    "output"
                ],
                "title": "AgentMorpheusOutput",
                "description": "\"\nThe final output of the Agent Morpheus pipeline.\nContains all fields in the AgentMorpheusEngineInput, plus the AgentMorpheusEngineOuput for each input vulnerability."
            },
            "Bugzilla": {
                "properties": {
                    "description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description"
                    },
                    "id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Id"
                    },
                    "url": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Url"
                    }
                },
                "type": "object",
                "title": "Bugzilla"
            },
            "CVSS": {
                "properties": {
                    "score": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Score"
                    },
                    "vector_string": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Vector String"
                    }
                },
                "type": "object",
                "title": "CVSS"
            },
            "CWE": {
                "properties": {
                    "cwe_id": {
                        "type": "string",
                        "title": "Cwe Id"
                    },
                    "name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Name"
                    }
                },
                "type": "object",
                "required": [
                    "cwe_id"
                ],
                "title": "CWE"
            },
            "ChecklistItemOutput": {
                "properties": {
                    "input": {
                        "type": "string",
                        "title": "Input"
                    },
                    "response": {
                        "type": "string",
                        "title": "Response"
                    }
                },
                "type": "object",
                "required": [
                    "input",
                    "response"
                ],
                "title": "ChecklistItemOutput",
                "description": "Input-response pair for a single checklist item provided to the LLM agent."
            },
            "CveIntel": {
                "properties": {
                    "vuln_id": {
                        "type": "string",
                        "title": "Vuln Id"
                    },
                    "ghsa": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CveIntelGhsa"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "nvd": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CveIntelNvd"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "rhsa": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CveIntelRhsa"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "ubuntu": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CveIntelUbuntu"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "epss": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CveIntelEpss"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                },
                "type": "object",
                "required": [
                    "vuln_id"
                ],
                "title": "CveIntel",
                "description": "Information about a CVE (Common Vulnerabilities and Exposures) entry."
            },
            "CveIntelEpss": {
                "properties": {
                    "epss": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Epss"
                    },
                    "percentile": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Percentile"
                    },
                    "date": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Date"
                    }
                },
                "additionalProperties": true,
                "type": "object",
                "title": "CveIntelEpss",
                "description": "Information about an EPSS (Elastic Product Security Service) entry."
            },
            "CveIntelGhsa": {
                "properties": {
                    "ghsa_id": {
                        "type": "string",
                        "title": "Ghsa Id"
                    },
                    "cve_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Cve Id"
                    },
                    "summary": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Summary"
                    },
                    "description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description"
                    },
                    "severity": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Severity"
                    },
                    "vulnerabilities": {
                        "anyOf": [
                            {
                                "items": {},
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Vulnerabilities"
                    },
                    "cvss": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CVSS"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "cwes": {
                        "anyOf": [
                            {
                                "items": {
                                    "$ref": "#/components/schemas/CWE"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Cwes"
                    }
                },
                "additionalProperties": true,
                "type": "object",
                "required": [
                    "ghsa_id"
                ],
                "title": "CveIntelGhsa",
                "description": "Information about a GHSA (GitHub Security Advisory) entry."
            },
            "CveIntelNvd": {
                "properties": {
                    "cve_id": {
                        "type": "string",
                        "title": "Cve Id"
                    },
                    "cve_description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Cve Description"
                    },
                    "cvss_vector": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Cvss Vector"
                    },
                    "cwe_name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Cwe Name"
                    },
                    "cwe_description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Cwe Description"
                    },
                    "cwe_extended_description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Cwe Extended Description"
                    },
                    "configurations": {
                        "anyOf": [
                            {
                                "items": {},
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Configurations"
                    },
                    "vendor_names": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Vendor Names"
                    }
                },
                "additionalProperties": true,
                "type": "object",
                "required": [
                    "cve_id"
                ],
                "title": "CveIntelNvd",
                "description": "Information about an NVD (National Vulnerability Database) entry."
            },
            "CveIntelRhsa": {
                "properties": {
                    "bugzilla": {
                        "$ref": "#/components/schemas/Bugzilla"
                    },
                    "details": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Details"
                    },
                    "statement": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Statement"
                    },
                    "package_state": {
                        "anyOf": [
                            {
                                "items": {
                                    "$ref": "#/components/schemas/PackageState"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Package State"
                    },
                    "upstream_fix": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Upstream Fix"
                    }
                },
                "additionalProperties": true,
                "type": "object",
                "title": "CveIntelRhsa",
                "description": "Information about a RHSA (Red Hat Security Advisory) entry."
            },
            "CveIntelUbuntu": {
                "properties": {
                    "description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description"
                    },
                    "notes": {
                        "anyOf": [
                            {
                                "items": {
                                    "$ref": "#/components/schemas/Note"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Notes"
                    },
                    "priority": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Priority"
                    },
                    "ubuntu_description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Ubuntu Description"
                    }
                },
                "additionalProperties": true,
                "type": "object",
                "title": "CveIntelUbuntu",
                "description": "Information about a Ubuntu CVE entry."
            },
            "FileSBOMInfoInput": {
                "properties": {
                    "_type": {
                        "const": "file",
                        "title": "Type",
                        "description": "The type of the object",
                        "default": "file"
                    },
                    "file_path": {
                        "type": "string",
                        "title": "File Path"
                    }
                },
                "type": "object",
                "required": [
                    "file_path"
                ],
                "title": "FileSBOMInfoInput",
                "description": "A file path pointing to a Software Bill of Materials file."
            },
            "ImageInfoInput": {
                "properties": {
                    "name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Name"
                    },
                    "tag": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Tag"
                    },
                    "digest": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Digest"
                    },
                    "platform": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Platform"
                    },
                    "feed_group": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Feed Group"
                    },
                    "source_info": {
                        "items": {
                            "$ref": "#/components/schemas/SourceDocumentsInfo"
                        },
                        "type": "array",
                        "title": "Source Info"
                    },
                    "sbom_info": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/ManualSBOMInfoInput"
                            },
                            {
                                "$ref": "#/components/schemas/FileSBOMInfoInput"
                            }
                        ],
                        "title": "Sbom Info"
                    }
                },
                "type": "object",
                "required": [
                    "source_info",
                    "sbom_info"
                ],
                "title": "ImageInfoInput",
                "description": "Information about a container image, including the source information and sbom information."
            },
            "JustificationOutput": {
                "properties": {
                    "label": {
                        "type": "string",
                        "title": "Label"
                    },
                    "reason": {
                        "type": "string",
                        "title": "Reason"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "TRUE",
                            "FALSE",
                            "UNKNOWN"
                        ],
                        "title": "Status"
                    }
                },
                "type": "object",
                "required": [
                    "label",
                    "reason",
                    "status"
                ],
                "title": "JustificationOutput",
                "description": "Final justification for the vulnerability.\n\n- label: a categorical justification label classifying the status of an image against a given vulnerability, e.g.\n  code_not_present, code_not_reachable, false_positive.\n- reason: a human-readable explanation for why justification label was selected.\n- status: a ternary status (TRUE, FALSE, OR UNKNOWN) that indicates whether the image can be exploited for a given\n  vulnerability. Determined based on a mapping from the justification label."
            },
            "ManualSBOMInfoInput": {
                "properties": {
                    "_type": {
                        "const": "manual",
                        "title": "Type",
                        "description": "The type of the object",
                        "default": "manual"
                    },
                    "packages": {
                        "items": {
                            "$ref": "#/components/schemas/SBOMPackage"
                        },
                        "type": "array",
                        "title": "Packages"
                    }
                },
                "type": "object",
                "required": [
                    "packages"
                ],
                "title": "ManualSBOMInfoInput",
                "description": "Manually provided Software Bill of Materials, consisting of a list of SBOMPackage objects."
            },
            "Note": {
                "properties": {
                    "author": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Author"
                    },
                    "note": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Note"
                    }
                },
                "type": "object",
                "title": "Note"
            },
            "PackageState": {
                "properties": {
                    "product_name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Product Name"
                    },
                    "fix_state": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Fix State"
                    },
                    "package_name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Package Name"
                    },
                    "cpe": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Cpe"
                    }
                },
                "type": "object",
                "title": "PackageState"
            },
            "SBOMInfo": {
                "properties": {
                    "packages": {
                        "items": {
                            "$ref": "#/components/schemas/SBOMPackage"
                        },
                        "type": "array",
                        "title": "Packages"
                    }
                },
                "type": "object",
                "required": [
                    "packages"
                ],
                "title": "SBOMInfo",
                "description": "List of SBOMPackage objects representing the packages found in the input image."
            },
            "SBOMPackage": {
                "properties": {
                    "name": {
                        "type": "string",
                        "title": "Name"
                    },
                    "version": {
                        "type": "string",
                        "title": "Version"
                    },
                    "path": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Path"
                    }
                },
                "type": "object",
                "required": [
                    "name",
                    "version"
                ],
                "title": "SBOMPackage",
                "description": "Information about a single package in the container image's Software Bill of Materials (SBOM)."
            },
            "ScanInfoInput": {
                "properties": {
                    "id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Id"
                    },
                    "type": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Type"
                    },
                    "started_at": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Started At"
                    },
                    "completed_at": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Completed At"
                    },
                    "vulns": {
                        "items": {
                            "$ref": "#/components/schemas/VulnInfo"
                        },
                        "type": "array",
                        "title": "Vulns"
                    }
                },
                "type": "object",
                "required": [
                    "vulns"
                ],
                "title": "ScanInfoInput",
                "description": "Information about a unique scan for a container image against a list of vulnerabilies."
            },
            "SourceDocumentsInfo": {
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "code",
                            "doc"
                        ],
                        "title": "Type"
                    },
                    "git_repo": {
                        "type": "string",
                        "title": "Git Repo"
                    },
                    "tag": {
                        "type": "string",
                        "title": "Tag"
                    },
                    "include": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Include",
                        "default": [
                            "*.py",
                            "*.ipynb"
                        ]
                    },
                    "exclude": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Exclude",
                        "default": []
                    }
                },
                "type": "object",
                "required": [
                    "type",
                    "git_repo",
                    "tag"
                ],
                "title": "SourceDocumentsInfo",
                "description": "Information about the source documents for the container image.\n\n- type: document type.\n- git_repo: git repo URL where the source documents can be cloned.\n- tag: git tag.\n- include: file extensions to include when indexing the source documents.\n- exclude: file extensions to exclude when indexing the source documents."
            },
            "VdbPaths": {
                "properties": {
                    "code_vdb_path": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Code Vdb Path"
                    },
                    "doc_vdb_path": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Doc Vdb Path"
                    }
                },
                "type": "object",
                "title": "VdbPaths",
                "description": "Paths to where the generated VDBs are stored."
            },
            "VulnInfo": {
                "properties": {
                    "vuln_id": {
                        "type": "string",
                        "title": "Vuln Id"
                    },
                    "description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description"
                    },
                    "score": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Score"
                    },
                    "severity": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Severity"
                    },
                    "published_date": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Published Date"
                    },
                    "last_modified_date": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Last Modified Date"
                    },
                    "source": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Source"
                    },
                    "url": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Url"
                    },
                    "feed_group": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Feed Group"
                    }
                },
                "type": "object",
                "required": [
                    "vuln_id"
                ],
                "title": "VulnInfo",
                "description": "Information about a vulnerability."
            }
        }
    }
}
